* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  display: grid;
  place-items: center;
  min-height: 90dvh;
}

.contenedor {
  background-color: #eee;
  width: 700px;
  height: 450px;
  display: grid;
  grid-template-columns: 45% 55%;
  place-items: center;
}

.contenedor::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to bottom right, #d4532d, #98d544);
  width: 850px;
  height: 850px;
  border-radius: 50%;
  z-index: -1;
}

.contenedor-imagen {
  width: 300px;
  height: auto;
  border: 1px solid #45d256;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.contenedor-texto {
  padding: 0 20px 0 5px;
}

.contenedor-texto h2 {
  font-size: 1.2rem;
  color: #014565;
}

.contenedor-texto p {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

.contenedor-texto textarea {
  resize: none;
  border: 1px sollid #333;
  margin: 5px 0 10px;
  font-size: 12px;
  color: #666;
}

.contenedor-texto textarea, 
.contenedor-texto button {
  width: 100%;
  padding: 14px;
  border-radius: 5px;
}

.contenedor-texto button {
  border: none;
  background-image: linear-gradient(to right, #014565, #450256);
  color: #eee;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.contenedor-texto button:active {
  transform: scale(0.95);
}

.contenedor-texto span {
  display: block;
  text-align: center;
  margin: 20px 0 0 0;
  color: #555;
  font-size: 10px;
}

.contenedor-selectores {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.contenedor-selectores select {
  width: 100%;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 12px;
}
